@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
  --u-black: #2c2c2c;
  --u-primary-color: #112d4e;
  --u-secondary-color: #3f72af;
  --u-tertiary-color: #dbe2ef;
  --u-quaternary-color: #f9f7f7;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--u-primary-color);
}

.nav-header {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.nav-header > img {
  width: 32px;
}

.nav-header > h1 {
  margin: 0;
  padding: 0 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  font-family: "Poiret One", cursive;
}

.nav-links {
  display: flex;
}

.nav-links > a {
  width: 1.2rem;
  height: 1.2rem;
}

.nav-links > a > img {
  width: 1.2rem;
  height: 1.2rem;
  fill: white;
}

/* Canvas */
.canvas-wrapper {
  border: 1px solid black;
  width: 92vw;
  height: calc(100% - 114px);
  margin: 32px 4vw;
  overflow: hidden;
}
